:root {
    --workspacewidth: 19200px;
    --workspaceheight: 10800px;
    --workspacecenterx: calc(var(--workspacewidth)/-2 + 50vw); /* = width/2 */
    --workspacecentery: calc(var(--workspaceheight)/-2 + 50vh); /* = height/2 */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #222;
}

::-webkit-scrollbar-thumb {
  background: #444;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    /*overflow: hidden;*/
}

p, span, h3, h2, h1, a, li{
    color: #ffffff;
    
}

h1 {
  font-size: 26px;
}

a {
  font-size: 20px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }


