

.node_body {
    border-radius: 0px 0px 5px 5px;
    z-index: 9;
    background-color: #25242400;
    border: 1px solid #3a3a3a;
    text-align: center;
    width: 100%;
    /*resize: both;*/
    overflow: auto;
}

.node_container {
    border-radius: 5px;
    position: absolute;
    z-index: 9;
    left:50%;
    top:50%;
    background-color: #2524248c;
    border: 1px solid #3a3a3a;
    text-align: center;
    backdrop-filter: blur(3px);
    white-space: nowrap;
}

.node_header {
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
    cursor: move;
    z-index: 10;
    background-color: #008cff;
    color: #fff;
    
    
}

.connector {
    stroke:rgb(255, 255, 255);
    stroke-width:2
}

#container {
    position: absolute;
    width: var(--workspacewidth);
    height: var(--workspaceheight);
    left: var(--workspacecenterx);
    top: var(--workspacecentery);
    background-color: #00000000;
    overflow: hidden; /*For srcolling behavior*/
    z-index: 0; /* Stay on bottom */
    transform-origin: 50% 50%;
}

#container_container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow:hidden;
  border-style: solid 1px;
}